html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  background: #1F2937;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footer {
  display: flex;
  color: white;
  background: #1F2937;
  justify-content: center;
  align-content: center;
}

.section-sign-up {
  display: flex;
  flex: 0;
  color: white;
  background: #1F2937;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  margin: 0px;
  gap: 25px;
}

.section-content-header {
  display: flex;
  flex: 0;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
}

.section-quote {
  display: flex;
  flex-wrap: wrap;
  flex: 0;
  justify-content: center;
  align-content: center;
  align-self: center;
  background: #E5E7EB;
  width: 100%;
}

.section-banner {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  background-color: #3882f6;
  color: #F9FAF8;
  border-radius: 8px;
  border-color: none;
  border: none;
  width: 512px;
  margin: 25px 0px 25px 0px;
  padding: 25px;
  gap: 25px;
}

.banner-button {
  align-self: center;
  border: 2px solid;
  border-color: #E5E7EB;
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 0px;
}

.p-secondary {
  font-size: 18px;
  color: #E5E7EB;
  width: 512px;
}

.img-big > img {
  border-radius: 8px;
  height: 256px;
  width: 256px;
}

.img-small > img {
  border-radius: 8px;
  height: 128px;
  width: 128px;
}

blockquote > p {
  text-align: left;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  padding: 0px;
  margin: 0px;
} 

figcaption {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #3882f6;
  color: white;
  width: 100px;
  height: 30px;
  padding: 8px;
  margin: 0px;
}

figure {
  width: 50%;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

li {
  
}

h4 {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 48px;
  color: #F9FAF8;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding: 0px;
  margin: 0px;
}


a {
  text-decoration: none;
}