body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  background: #1F2937;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  color: white;
  background: #1F2937;
  justify-content: center;
  align-content: center;
}

ul {
  display: flex;
  list-style: none;
}

li {

}

a {
  text-decoration: none;
  color: white;
}