html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color:red;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  background: #1F2937;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  display: flex;
  color: white;
  background: #1F2937;
  justify-content: center;
  align-content: center;
}

.section-sign-up {
  display: flex;
  color: white;
  background: #1F2937;
  justify-content: center;
  align-items: center;
}

.img-right {
  background-color: wheat;
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
}

.section-items-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

.section-items-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.section-quote {
  display: flex;
  background: #E5E7EB;
}

.section-banner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.p-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

blockquote > p {
  text-align: left;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  padding: 0px;
  margin: 0px;
} 

figcaption {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

button {
  border-radius: 8px;
  border-color: none;
  border: none;
  background-color: #3882f6;
  color: white;
  width: 100px;
  padding: 8px;
  margin: 0px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  
}

h3 {
  font-size: 48px;
  color: #F9FAF8;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}